.custom-navbar-background{
  background-color: rgba(0, 158, 226, 0.5)!important;
  transition: all .3s;
}

.custom-navbar-background.scroll{
  background-color: #fff!important;
  transition: all .3s;
  color: #000!important;
}

/* Order Page */
.banner-container-order{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.background-image-order{
  width: 100%;
}

.image-banner-order{
  width: 100%;
  height: 100%;
  position: relative;
  
}

.layer-background-order{
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.49);
}

.banner-icon-img{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.icon-img{
  width: 4%;
  margin: 1em;
  position: relative;
}

.order{
  padding: 3em;
  border-radius: 15px;
  margin: 4em 2em;
  font-weight: 600;
}

.order-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.order-top {
  height: 100%;
  display: flex;
}

.order-detail{
  display: flex;
  flex-direction: column;
}

.order-detail .order-detail-top{
  margin:0;
}

.order-detail .order-detail-bottom{
  margin-top: auto;
}

.order-detail-price-strike-text {
  font-size: 12px;
  text-decoration: line-through;
}

.order-detail-price-text {
  font-size: 20px;
}

.order-detail-price-text span {
  font-weight: 700;
}

.jumlah {
  width: 25%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.order-middle{
  margin-bottom: 1em;
}

.icon-footer{
  max-width: 15%;
}

footer h5 {
  font-weight: bold;
  word-spacing: 1px;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.banner-container{
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.background-image{
  width: 100%;
  height: 100%;
}

.image-banner{
  width: 100%;
  height: 100%;
  position: relative;
}

.layer-background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.49);
}

.banner-title-text{
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.banner-description-text{
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.product-image-container{
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.product-image-container img{
  height: 100%;
}

.product-price{
  font-size: 14px;
}

.product-price .old-price{
  text-decoration: line-through black;
}

.product-price .new-price span{
  color: #009ee2;
  font-weight: 700;
}
.product-description{
  min-height: 50px;
}
.slick-prev {
    left: -35px;
}
.slick-prev:before, .slick-next:before{
  color: #009ee2;
  font-size: 30px;
}


  /* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}